<h1>Accounts</h1>
<table border="1">
    <tr>
        <th>CC Number</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Issue Country</th>
        <th>Travel Countries</th>
        <th>&nbsp;</th>
    </tr>
    #foreach($row in $rows)
        <form action="/accounts" method="POST">
            <input type="hidden" id="ccNumber" name="ccNumber" value="$row.getCcNumber()"/>
            <tr>
                <td>$row.getCcNumber()</td>
                <td>$row.getFirstName()</td>
                <td>$row.getLastName()</td>
                <td>$row.getIssueCountry()</td>
                <td>
                    <input type="text" id="travelCountries" name="travelCountries">$row.getTravelCountries()</input>
                </td>
                <td>
                    <input type="submit" value="Save"/>
                </td>
            </tr>
        </form>
    #end
</table>
